
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    padding-left: 10px;
    height: 25px;
    width: 250px;
}
button{
    all: unset;
    width: 60px;
    height: auto;
    padding: 5px 22px;
    text-align: center;

    border-radius: 10px;

    color: aliceblue;

    cursor: pointer;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-image: url("./assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container_game {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.section__game{
    display: flex;
    background-color: rgb(173, 166, 102);
    width: 70%;
    height: auto;
    padding: 20px 40px;

    border-radius: 1rem;
}
.section__one{
    width: 50%;
}
.div_form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.button__run{
    background-color: rgb(15, 118, 46);
}
.input_letter{
    all: unset;
    width: 48px;
    height: 40px;
    background-color: rgb(186, 186, 235);

    text-align: center;
}
.section__error{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;

    font-size: 30px;
}
#word-display {
    font-size: 24px;
    margin-bottom: 20px;
}
#letters-guessed {
    margin-bottom: 10px;
}

/*  */
.modal__guessWord{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.815);

    color: aliceblue;

    gap: 25px;
}
.modal__guessWord p {
    font-size:30px;
}
.modal_div_button{
    display: flex;
    gap: 15px;
}

.button__modal:hover{
    opacity: 0.8;
}
.b__y{
    background-color: rgb(9, 106, 45);
}
.b__n{
    background-color: brown;
}
.b__r {
    background-color: rgb(190, 170, 16);
}

/*  */

.modal_congratulations{
    position: absolute;
    background-image: url("./assets/congratulations.gif");
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.831);
    color: aliceblue;


    top: 0;
}
.b__reload{
    background-color: rgb(12, 139, 37);
    margin-top: 30px;
}
.modal_erro{
    position: absolute;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.831);
    color: brown;

    top: 0;
}
